<!DOCTYPE html>
<html xml:lang>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if is_prod == "True"%}
    <script type="text/javascript" 
      src={{"https://app.midtrans.com/snap/snap.js"}}
      data-client-key={{ client_key }}></script>
  {% else %}
    <script type="text/javascript" 
      src={{"https://app.sandbox.midtrans.com/snap/snap.js"}}
      data-client-key={{ client_key }}></script>
  {% endif %}
</head>
<body>

</body>
    

</html>